@import "~bootstrap/scss/bootstrap.scss";
h1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
}
#excuse {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: auto;
}
/*
    body{
        background: #BDBDBD;
    }

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
